<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Consoom all the content your heart desires, then...</h1>
    <p>Get based and redpilled by reviewing your favourite films.</p>
    <p><%= link_to "Sign up to review pls", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie|%>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>